<div class="Services auto-width margin-h-center">

	<% ids++ %>
	<div class="Service" data-sr="wait .1s enter left" data-service="IaaS" data-popover-trigger="<%= ids %>">
		<div class="glyphicon glyphicon-dashboard Icon"></div>
		<div class="name">IaaS</div>
		<div class="description">Инфраструктура как услуга</div>
	</div>
	<template class="Popover Popover-Services" data-popover="<%= ids %>">
		<p>Услуга использования ресурсов развернутой в облаке инфраструктуры.</p>
		<ul class="Pluses">
			<li>Доступ из любой точки мира в любое время.</li>
			<li>Оплата только необходимых ресурсов.</li>
			<li>Лёгкость в реконструировании спектра услуг.</li>
			<li>Экономия на оборудовании.</li>
			<li>Высокая отказоустойчивость, надежность и безопасность.</li>
		</ul>
		<a href="#Mailer" class="Btn Btn-Buy Btn-xl">Связаться</a>
	</template>

	<% ids++ %>
	<div class="Service" data-sr="wait .2s enter left" data-service="DaaS" data-popover-trigger="<%= ids %>">
		<div class="glyphicon glyphicon-picture Icon"></div>
		<div class="name">DaaS</div>
		<div class="description">Рабочее место как услуга</div>
	</div>
	<template class="Popover Popover-Services" data-popover="<%= ids %>">
		<p>Услуга использования ресурсов развернутой в облаке инфраструктуры.</p>
		<ul class="Pluses">
			<li>Доступ из любой точки мира в любое время.</li>
			<li>Начните работать с первых минут.</li>
			<li>Дополнительная защита корпоративной информации.</li>
			<li>Экономия на настройке.</li>
			<li>Высокая отказоустойчивость, надежность и безопасность.</li>
		</ul>
		<a href="#Mailer" class="Btn Btn-Buy Btn-xl">Связаться</a>
	</template>

	<% ids++ %>
	<div class="Service" data-sr="wait .3s enter" data-service="SaaS" data-popover-trigger="<%= ids %>">
		<div class="glyphicon glyphicon-list-alt Icon"></div>
		<div class="name">SaaS</div>
		<div class="description">Програмное обеспечение как услуга</div>
	</div>
	<template class="Popover Popover-Services" data-popover="<%= ids %>">
		<p>Услуга использования ресурсов развернутой в облаке инфраструктуры.</p>
		<ul class="Pluses">
			<li>Доступ из любой точки мира в любое время.</li>
			<li>Сокращение затрат на техподдержку.</li>
			<li>Экономия на оборудовании.</li>
			<li>Экономия на устаревании и обновлении.</li>
			<li>Высокая отказоустойчивость, надежность и безопасность.</li>
		</ul>
		<a href="#Mailer" class="Btn Btn-Buy Btn-xl">Связаться</a>
	</template>

	<% ids++ %>
	<div class="Service" data-sr="wait .2s enter right" data-service="VoIP" data-popover-trigger="<%= ids %>">
		<div class="glyphicon glyphicon-earphone Icon"></div>
		<div class="name">VoIP</div>
		<div class="description">IP телефония</div>
	</div>
	<template class="Popover Popover-Services" data-popover="<%= ids %>">
		<p>Услуга использования ресурсов развернутой в облаке инфраструктуры.</p>
		<ul class="Pluses">
			<li>Доступ из любой точки мира в любое время.</li>
			<li>Легко управлять, легко использовать.</li>
			<li>Экономнее аппаратной АТС.</li>
			<li>Гибкость и масштабируемость.</li>
			<li>Высокая отказоустойчивость, надежность и безопасность.</li>
		</ul>
		<a href="#Mailer" class="Btn Btn-Buy Btn-xl">Связаться</a>
	</template>

	<% ids++ %>
	<div class="Service" data-sr="wait .1s enter right" data-service="Backup" data-popover-trigger="<%= ids %>">
		<div class="glyphicon glyphicon-upload Icon"></div>
		<div class="name">Backup</div>
		<div class="description">Резервное копирование</div>
	</div>
	<template class="Popover Popover-Services" data-popover="<%= ids %>">
		<p>Услуга использования ресурсов развернутой в облаке инфраструктуры.</p>
		<ul class="Pluses">
			<li>Настраиваемое автоматическое копирование всех данных.</li>
			<li>Высокая надёжность и отказоустойчивость.</li>
			<li>Безопасность хранения данных.</li>
		</ul>
		<a href="#Mailer" class="Btn Btn-Buy Btn-xl">Связаться</a>
	</template>

</div>